* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  
  --color-main: #fe3e6d;
  --color-dark-main: #d4265a;
  --color-white: #ffffff;
  --color-gray: #6b7076;
  --color-medium-gray: #3B3B3B;
  --color-light-gray: #dfdfdf;
  --color-lighter-gray: #f0f4f8;
  --color-error: #ee3636;
  --color-success: #04aa6d;
  --color-blue: #1A93DA;
  --font-avenir-light: 'Avenir Light', sans-serif;
  --font-avenir-medium: 'Avenir Medium', sans-serif;
}

@font-face {
  font-family: 'Avenir Light';
  src: url('./assets/fonts/avenir/AvenirLTStd-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('./assets/fonts/avenir/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}